@font-face{
    국문
    font-family : NotoSans;
    font-weight : bold;
    src : url("../NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.otf") fotmat("otf");
}

@font-face{
    font-family : NotoSans;
    font-weight : 500;
    src : url("../font/NotoSansCJKkr-Medium-Alphabetic.eot") format("eot"),
          url("../font/NotoSansCJKkr-Medium-Alphabetic.woff") format("woff"),
          url("../font/NotoSansCJKkr-Medium-Alphabetic.woff2") format("woff2"),
          url("../font/NotoSansCJKkr-Medium-Alphabetic.ttf") format("truetype");
}

@font-face{
    font-family : NotoSans;
    font-weight : normal; 
    src : url("../font/NotoSansCJKkr-Regular-Alphabetic.eot") format("eot"),
          url("../font/NotoSansCJKkr-Regular-Alphabetic.woff") format("woff"),
          url("../font/NotoSansCJKkr-Regular-Alphabetic.woff2") format("woff2"),
          url("../font/NotoSansCJKkr-Regular-Alphabetic.ttf") format("truetype");
}

/*
@font-face{
    font-family : Roboto;
    font-weight : bold; 
    src : url("../font/Roboto-Bold.eot") format("eot"),
          url("../font/Roboto-Bold.woff") format("woff"),
          url("../font/Roboto-Bold.woff2") format("woff2"),
          url("../font/Roboto-Bold.ttf") format("truetype");
}

@font-face{
    font-family : Roboto;
    font-weight : 500; 
    src : url("../font/Roboto-Medium.eot") format("eot"),
          url("../font/Roboto-Medium.woff") format("woff"),
          url("../font/Roboto-Medium.woff2") format("woff2"),
          url("../font/Roboto-Medium.ttf") format("truetype");
}

@font-face{
    font-family : Roboto;
    font-weight : normal; 
    src : url("../font/Roboto-Regular.eot") format("eot"),
          url("../font/Roboto-Regular.woff") format("woff"),
          url("../font/Roboto-Regular.woff2") format("woff2"),
          url("../font/Roboto-Regular.ttf") format("truetype");
}
*/


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    font-family : NotoSans; 
}


ul#skipmenu li a{
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height:0px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

ul#skipmenu li a:focus{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

header#header_wrap{
    width: 100%;
    height: 250px;
    position: fixed;
    z-index: 999;
    background-color: transparent;
}

div#top_event{
    width: 100%;
    height: 50px;
    background-color: #e6d9c4;
    text-align: center;

}

div#top_event > li{
    width: 100%;
    height: 50px;
}

div#top_event .slick-list a{
    display: block;
    font-size: 16px;
    line-height: 50px;
    color: #767676;
    font-weight: bold;
}

div#top_event .slick-slide{
    height: 50px;
}



div#htop_wrap{
    width: 100%;
    height: 130px;
    background-color: #ffffff;
}

div#htop_inner{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    right: 0px;
}

h1#logo{
    width: 126px;
    height: 40px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -63px;
}

h1#logo a{
    display: block; width: 100%; height: 100%;
}

ul#htop_menu{
    width: 155px;
    height: 38px;
    position: absolute;
    top: 20px;
    right: 0px;
}

ul#htop_menu li{
    float: left; height: 100%;
}

ul#htop_menu li.login a, ul#htop_menu li.wish a,
ul#htop_menu li.cart a, ul#htop_menu li.store a{
    display: block;
    text-indent: -9999px;
    height: 38px;
    line-height: 38px;

}
ul#htop_menu li.login a{
    width: 28px;
    background-image: url("../images/icon_login.png");
    background-position: 0px;
    margin-right: 14px;
    
}
ul#htop_menu li.wish a{
    width: 35px;
    background-image: url("../images/icon_wish.png");
    background-position: 0px 2px;
    margin-right: 10px;
}
ul#htop_menu li.cart a{
    width: 28px;
    background-image: url("../images/icon_cart.png");
    background-position: 0px -1px;
    margin-right: 14px;
}
ul#htop_menu li.store a{
    width: 24px;
    background-image: url("../images/icon_store.png");
    background-position: 1px -1px;
    margin-right:0px;
}

ul#htop_menu li.login a:hover{
    background-position: -28px;
}
ul#htop_menu li.wish a:hover{
    background-position: -38px;
}
ul#htop_menu li.cart a:hover{
    background-position: -29px;
}
ul#htop_menu li.store a:hover{
    background-position: -21px;
}

div.notice{
    width: 250px;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 20px;
}

div.notice img{
    position: absolute;
    right: 300px;
    bottom: 10px;
}

div.notice p{
    position: absolute;
    right: 240px;
    bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #767676;
}

div.notice_box{
    width: 220px;
    height: 30px;
    border: solid 1px #aeaeae;
    position: absolute;
    right: 0px;
    bottom: 2px;
}

div.notice_box li{
    width: 100%;
    height: 30px;
    position: absolute;
    right: 0px;
    margin-right: 15px;
    margin-top: 6px;
}

div.notice_box li a{
    height: 30px;
position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
    color: #767676;
}

div.notice_box .slick-slide{
    height: 30px;
}



div#hbottom_wrap{
    width: 100%;
    height: 70px;
    background-color: #2a3644;
}

div#hbottom_inner{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

nav#gnb{
    width: 100%; height: 100%;
}

nav#gnb > ul{
    width: 100%; height: 100%;
}

nav#gnb > ul > li{
    float: left;
    height: 70px;
    line-height: 70px;
    padding-right: 60px;
    position: relative;
}

nav#gnb > ul > li:last-child{
    padding-right: 0px;
}

nav#gnb > ul > li >a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

nav#gnb > ul > li >a:after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #e6d9c4;
    position: relative;
    top: -15px;
    margin: 0px auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

nav#gnb > ul > li:hover >a{
    color: #e6d9c4;
}

nav#gnb > ul > li:hover >a:after{
    width: 100%;
}

nav#gnb > ul > li.on > a{
    color: #f5ca01;
}
nav#gnb > ul > li.on > a:after{
    width: 100%
}

div#search a.on{
    width: 100%;
}


nav#gnb ul.submenu_list{
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 330px;
    padding-top: 20px;
    box-sizing: border-box;
    line-height: 24px;    
}

nav#gnb ul .submenu_list > li{
    padding: 5px 0px;
    box-sizing: border-box;
}


nav#gnb ul .submenu_list > li > a{
    display: block;
    font-size: 14px;
    color: #767676;
    font-weight: bold;
    text-decoration: none;
}

nav#gnb ul .submenu_list > li:hover >a, 
ul.submenu_list li ul.sub_submenu_list > li:hover >a{
    text-decoration: underline;
    color: #aeaeae;
}


ul.submenu_list > li > ul.sub_submenu_li{
    width: 100%; height: 100%;
}

ul.submenu_list > li > ul.sub_submenu_list > li{
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
    
}

ul.submenu_list > li > ul.sub_submenu_list > li > a{
    display: block;
    width: 100%;
    color: #767676;
}

div.subbg{
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
    height: 330px;
    z-index: 98;
    background-color: rgba(255,255,255,0.8);
}


/*header scroll*/
header#header_wrap.on{
    height: 155px;
    background-color: #ffffff;
}
header#header_wrap.on div#top_event, 
header#header_wrap.on div#htop_wrap div.notice{
    display: none;
}
header#header_wrap.on div#htop_wrap{
    height: 85px;
    background-color: transparent;
}
header#header_wrap.on div#hbottom_wrap{
    height: 70px;
    background-color: rgba(230,217,196,0.8);
}
header#header_wrap.on div#hbottom_wrap div.subbg{
    background-color: #e6d9c4;
    position: absolute;
    top: 155px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.login a{
    width: 28px;
    height: 31px;
    background-image: url("../images/icon_htopmenu_scroll.png");
    background-position: 0px 2px;
    margin-right: 14px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.wish a{
    width: 35px;
    height: 31px;
    background-image: url("../images/icon_htopmenu_scroll.png");
    background-position: -35px 2px;
    margin-right: 8px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.cart a{
    width: 28px;
    height: 31px;
    background-image: url("../images/icon_htopmenu_scroll.png");
    background-position: -71px 1px;
    margin-right: 12px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.store a{
    width: 26px;
    height: 31px;
    background-image: url("../images/icon_htopmenu_scroll.png");
    background-position: -105px 2px;
    margin-right: 0px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.login a:hover{
    background-position: -140px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.wish a:hover{
    background-position: -178px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.cart a:hover{
    background-position: -215px;
}
header#header_wrap.on div#htop_wrap ul#htop_menu li.store a:hover{
    background-position: -246px;
}/*header scroll end*/



/*검색창*/
div#search{
    width: 1200px;
    position: relative;
    top: 0px;
    margin: 0px auto;
    z-index: 99;
}

div#search .search_box{
    width: 100%;
    position: absolute;
    top: 70px;
}

div#search > a{ /*메인메뉴 돋보기*/
    width: 27px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 21px 0px;
    background-position: 0px;
    background-image: url("../images/icon_search.png");
    background-size: 54px 30px;
    background-repeat: no-repeat;
}

div#search > a:hover{
    background-position: -27px;
}

.search_box .box{
    width: 1024px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    left: 90px;
    z-index: 99;
    border: solid 1px #ffffff;
    line-height: 50px;
}

input{
    font-size: 18px;
    width: 1000px;
    padding: 13px;
    border: 0px;
    outline: none;
    float: left;
}

button.boxbtn{ /*검색창 안 돋보기*/
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url("../images/icon_search_767676.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    border: none;
    background-color: #ffffff;
}

button.boxbtn a{
    display: block;
    width: 100%;
    height: 100%;
}



.search_box > ul{
    width: 600px;
    height: 200px;
    position: relative;
    bottom: 0px;
    margin-bottom: 30px;
    margin: 0px auto;
}

.search_box > ul > li{
    width: 100%;
    color: #ffffff;
    z-index: 99;
}

.search_box > ul > li.word01{
    position: absolute;
    bottom: 50px;
}
.search_box > ul > li.word02{
    position: absolute;
    bottom: 20px;
}

.search_box > ul > li > p{
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-right: 20px;
    padding: 10px 15px;
}

ul.tag01 > li, 
ul.tag02 > li{
    float: left;
}

ul.tag01 > li > a, 
ul.tag02 > li > a{
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    display: block;
    padding: 10px 15px;
    box-sizing: border-box;
}

ul.tag01 > li > a:hover, 
ul.tag02 > li > a:hover{
    text-decoration: underline;
}

div.searchbg{
    position: absolute;
    top : 70px;
    width: 100%;
    height: 200px;
    background-color: #2a3644;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 98;
}

div#search > a.on{
    width: 100%;
}/*검색창 end*/


div#quick_top{
    width: 40px;
    height: 50px;
    background-image: url("../images/quick_top.png");
    background-size: cover;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
}
div#quick_top a{
    display: block;
    width: 100%;
    height: 100%;

}


/*visual*/
div#visual_img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    padding: 250px 0px 0px 0px;
    box-sizing: border-box;
}

div#visual_img img{
    width: 100%;
    height: 450px;
}

div#visual_img p{
    width: 370px;
    display: block;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -175px;
    color: #ffffff;
}

/*best*/

div#best_wrap{
    width: 100%;
    height: 665px;
    background-color: #f3ede1;
    position: relative;
}

div#best_inner{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

h3.best_tit{
    font-size: 24px;
    font-weight: bold;
    color: #767676;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 130px 0px 10px 0px;
}

.btn_plus{
    width: 72px;
    height: 15px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    top: 150px;
}
.btn_plus a{
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #767676;
}

.btn_plus a:hover{
    color: #e67869;
}


div#best_list{
    width: 100%;
    height: 375px;
    position: relative;
}

div#best_list ul{
    width: 100%;
    height: 100%;
}

div#best_list ul li{
    width: 285px;
    height: 321px;
    float: left;
    position: relative;
    margin: 25px 20px 50px 0px;
}

div#best_list ul li:last-child{
    margin-right: 0px;
}

div#best_list ul li p{
    font-size: 12px;
    color: #767676;
}

/*
div#best_list ul li p.txt:after{
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: #767676;
}

div#best_list ul li:hover p.txt:after{
    width: 100%;
}
*/



p.txt{
    font-weight: bold;
    padding: 15px 0px 10px 0px;
    box-sizing: border-box;
}
p.normal_price{
    text-decoration: line-through;
    font-weight: normal;
}

p.normal_price, p.price, p.sale_stamp{
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

div#best_list p.sale_stamp{
    color: #e67869;
}

.img_box{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    display: none;
}

div#best_list ul li:hover .img_box{
    display: block;
    text-decoration: underline;
    text-decoration-color: #e67869;
}
div#best_list ul li.on{
    display: block;
}

.img_box .icon_cart{ 
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background-image: url("../images/icon_content_cart,move.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 128px 33px;
    position: absolute;
    top: 130px;
    right: 50%;
    margin-right: 5px;
    z-index: 2;
}
.img_box .icon_cart:hover{
    background-position: -63px 0px;
}

.img_box .icon_move{ 
    content: "";
    display: block;
    width: 30px;
    height: 33px;
    background-image: url("../images/icon_content_cart,move.png");
    background-repeat: no-repeat;
    background-size: 128px 33px;
    background-position: -34px 0px;
    position: absolute;
    top: 130px;
    left: 50%;
    margin-left: 5px;
    z-index: 2;
}
.img_box .icon_move:hover{
    background-position: -98px 0px;
}

div#best_wrap button{
    width: 20px;
    height: 40px;
    border: none;
    text-indent: -99999px;
    background-color: #f3ede1;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

div#best_wrap button.slick-next.slick-arrow{
    background-image: url("../images/icon_next_hover.png");
    background-size: cover;
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -20px;
}

div#best_wrap button.slick-prev.slick-arrow{
    background-image: url("../images/icon_prev_hover.png");
    background-size: cover;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -20px;
}

div#best_wrap button.slick-next.slick-arrow:hover{
    background-image: url("../images/icon_next.png");
}

div#best_wrap button.slick-prev.slick-arrow:hover{
    background-image: url("../images/icon_prev.png");    
}
/*best end*/




div#product_wrap{
     width: 100%;
     padding: 90px 0px 210px 0px;
     box-sizing: border-box;
     position: relative;
}

div#product_inner{
    width: 1200px;
    margin: 0px auto;
}

div#title{
    width: 100%;
    height: 310px;
    position: relative;
    top: 0px;
    left: 0px;
}


div#title h3.best_tit{
/*    width: 1200px;*/
    text-align: center;
    position: relative;
    top: -40px;
}

div#menu_nav{
    width: 150px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
}

div#menu_nav > ul{
    width: 100%;
    height: 100%;
}

div#menu_nav > ul > li{
    width: 150px;
    height: 35px;
    background-color: #767676;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
}


.sub_nav{
    width: 340px;
    margin: 90px 0px 15px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sub_nav > ul{
    width: 100%;
}

.sub_nav > ul > li{
    padding: 0px 12px;
    box-sizing: border-box;
    float: left;
    position: relative;
    right: 0px;
    top: 0px;
}

.sub_nav > ul > li:first-child{
    padding-left: 0px;
}
.sub_nav > ul > li:last-child{
    padding-right: 0px;
}


.sub_nav > ul > li > a{
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #767676;
    line-height: 14px;
}

.sub_nav > ul > li > a:hover{
    text-decoration: underline;
}


.sub_nav > ul > li:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;

    background-color: #767676;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sub_nav > ul > li:last-child:after{
    content: none;
}

div#title:after{
    content: "";
    display:block;
    width: 1200px;
    height: 1px;
    background-color: #767676;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

div#product_list{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.list_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

.list{
    width: 100%;
    padding: 50px 0px 100px 0px;
    box-sizing: border-box;
    position: absolute;
}

.list ul{
    width: 100%;
    height: 100%;
}
.slick-slide > li{
     margin: 25px 18px 70px 0px;
     width: 388px;
    height: 420px;
    float: left;
   
    position: relative;
}


.slick-slide > li:nth-child(3n){
    margin-right: 0px;
}

.list ul li p{
    font-size: 14px;
    color: #767676;
}
.list ul li p.txt{
    font-weight: bold;
    padding: 15px 0px 10px 0px;
    box-sizing: border-box;
    color: #535353;
    text-align: left;
}
p.normal_price{
    text-decoration: line-through;
    font-weight: normal;
}

p.normal_price, p.price, p.sale_stamp{
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.list p.sale_stamp{
    color: #e67869;
}

.img_box{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    display: none;
}

/*
.list ul li p.txt:after{
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: #767676;
}

.list ul li:hover p.txt:after{
    width: 100%;
}
*/



.list ul li:hover .img_box{
    display: block;
}
.list ul li.on{
    display: block;
}

.list ul li .img_box .icon_cart{ 
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background-image: url("../images/icon_content_cart,move.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 128px 33px;
    position: absolute;
    top: 180px;
    right: 50%;
    margin-right: 10px;
    z-index: 2;
}

.list ul li .img_box .icon_cart:hover{
    background-position: -63px 0px;
}

.list ul li .img_box .icon_move{ 
    content: "";
    display: block;
    width: 30px;
    height: 33px;
    background-image: url("../images/icon_content_cart,move.png");
    background-repeat: no-repeat;
    background-size: 128px 33px;
    background-position: -34px 0px;
    position: absolute;
    top: 180px;
    left: 50%;
    margin-left: 5px;
    z-index: 2;
}

.list ul li .img_box .icon_move:hover{
    background-position: -98px 0px;
}





.list_wrap .slick-dots{
    width: 235px;
    height: 15px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 0px;
    text-align: center;
}

.list_wrap .slick-dots li{
    width: 15px;
    height: 15px;
    margin-right: 18px;
    float: left;
}

.list_wrap .slick-dots li button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    font-weight: bold;
    font-size: 16px;
    color: #767676;
}

.list_wrap .slick-dots li button:hover{
    text-decoration: underline;
    text-decoration-color: #e67869;
    color: #e67869;
}
.list_wrap .slick-dots li.slick-active button{
    color: #ffffff;
    width: 20px;
    height: 22px;
    background-color: #e67869;
    border-radius: 5px;
}

button.slick-prev.slick-arrow{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 400px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    color: #767676;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

button.slick-next.slick-arrow{
    display: inline-block;
    position: absolute;
    right: 400px;
    bottom: 0px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    color: #767676;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


button.slick-prev.slick-arrow:hover{
    color: #e67869;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e67869;
    
}
button.slick-next.slick-arrow:hover{
    color: #e67869;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e67869;
}


button:focus{
    outline: none;
}



/*sub_event*/
div#sub_event_wrap{
    width: 100%;
    height: 380px;
    margin-bottom: 140px;
    position: relative;
}

div#sub_event_inner{
    width: 1200px;
    height: 380px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 0px;
}
div#box{
    width: 100%;
    height: 340px;
    position: absolute;
    top: 0px;
}
div#box a{
    display: block;
    width: 100%;
    height: 100%;
}

div#box img{
    width: 100%;
    height: 340px;
}

div#box p{
    position: absolute;
    left: 50%;
    margin-left: -170px;
}
.txt01{
    width: 340px;
    height: 12px;
    color: #2f2522;
    font-weight: bold;
    position: absolute;
    top: 65px;
}
.tit{
    width: 340px;
    height: 30px;
    font-weight: bold;
    color: #2f2522;
    font-size: 30px;
    padding: 13px 0px 15px 0px;
    position: absolute;
    top: 78px;
}

.txt02{
    width: 340px;
    height: 12px;
    font-size: 12px;
    color: #776d69;
    position: absolute;
    top: 140px;
}


.sofa_img{
    width: 620px;
    height: 185px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -310px;
}

.sofa_img ul{
    width: 100%;
    height: 100%;
}

.sofa_img ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
}


.sofa_img li img{
    width: 100%;
    height: 100%;
    position: relative;
}


/*footer*/
footer#footer_wrap{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #2a3644;
    padding: 55px 0px 62px 0px;
    margin-top: 140px;
}

div#footer_inner{
    width: 1200px;
    height: 400px;
    margin: 0px auto;
    position: relative;
}


div#f_left{
    width: 630px;
    height: 290px;
    position: absolute;
    top: 0px;
    float: left;
}

div#f_logo{
    width: 120px;
    height: 40px;
    position: relative;
    top: 0px;
}

div#f_logo a{
    display: block;
    width: 100%;
    height: 100%;
}

div#f_nav{
    width: 475px;
    height: 15px;
    position: relative;
    margin: 32px 0px 45px 0px;
}

div#f_nav ul{
    width: 100%;
    height: 100%;
    float: left;
}

div#f_nav ul li{
    float: left;
    margin-right: 25px;
}

div#f_nav ul li a{
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

div#f_nav ul li a:hover{
    color: #e67869;
}

.f_info{
    font-size: 12px;
    color: #aeaeae;
    position: relative;
    margin-bottom: 20px;
    line-height: 16px;
}

.f_copy{
    font-size: 12px;
    color: #aeaeae;
    position: relative;
}

.f_sns{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 0px;
}

.f_sns ul{
    width: 100%;
    height: 100%;
    float: left;
}

.f_sns ul li{
    float: left;
    position: relative;
}


div#f_left li.insta{
    width: 26px;
    height: 26px;
    background-image: url("../images/footer_insta.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 53px 27px;
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}
div#f_left li.insta:hover{
    background-position: -26px 0px;
}

div#f_left li.youtube{
    width: 26px;
    height: 26px;
    background-image: url("../images/footer_youtube.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 54px 20px;
    margin-right: 10px;
    position: relative;
    bottom: 0px;
}
div#f_left li.youtube:hover{
    background-position: -27px 0px;
}
div#f_left li.blog{
    width: 26px;
    height: 26px;
    background-image: url("../images/footer_blog.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 54px 25px;
    position: relative;
    bottom: 0px;
}
div#f_left li.blog:hover{
    background-position: -27px 0px;
}


div#f_right{
    width: 400px;
    height: 280px;
    position: absolute;
    right: 0px;
    float: left;
}

div#f_cs{
    width: 400px;
    height: 125px;
    margin-bottom: 50px;
}

div#f_cs p, .f_bank p{
    color: #ffffff;
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 0px;
}

.center{
    font-size: 22px;
}

.center_num{
    font-size: 55px;
    padding: 20px 0px 15px 0px;
}
.time{
    font-size: 13px;
    line-height: 18px;
    position: relative;
    top: 90px;
}

.f_bank{
    width: 230px;
    height: 110px;
}

.info_tit{
    font-size: 12px;
    position: relative;
    top: 170px;
}
.bank_info{
    font-size: 11px;
    position: absolute;
    bottom: 45px;
    line-height: 16px;
}
.kakao{
    position: absolute;
    bottom: 0px;
}
/*footer end*/




